<body class="workback">
  <div class="field backcol">
    <h1>Posible payment</h1>
    <h1>From <%= @sevpaymentmin%></h1>
    <h1>To <%= @sevpaymentmax%></h1>
    <%= link_to 'Back',  root_path, class:"wmaincol"%>
  </div>
</body>


