// Place all the styles related to the Payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.backcol{
  width: 400px;
  background: #fc0;
  padding: 30px;
  border: solid 1px black;
  float: left;
  position: relative;
  top: 40px;
  left: -70px;
}